<div class="activity-form">

    <div class="activity-form-block">

      <div class="activity-form-header">

        <svg width="48" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
          <path d="M19 12L31 24L19 36" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
          
        <span> {{formType==='new'? 'Agregar nueva actividad' : 'Editar actividad'}}</span>

      </div>

      <div class="activity-form-body">
       

       <div class="form-container">
        <form #contactForm="ngForm" class="form" >

          <div class="input">
            <label><b>Nombre de la actividad</b></label>
            <div class="validator" [hidden]="nameIsValid" >*El nombre es requerido</div>
            <input #nameValidator="ngModel" (change)="onChangeName(nameValidator)" type="text"  name="name" [(ngModel)]="activityForm.title" [value]="activityForm.title" required minlength="3" maxlength="25">

            <div class="activity-type">
              <label><b>Tipo de actividad:</b></label>
              <select name="miselect" [(ngModel)]="activityForm.type">
                <option [value]="'FOOD'" >Comida</option>
                <option [value]="'ACTIVITY'" >Actividad</option>
                </select>
            </div>
            
            <div class="date-form">

              <div>
                <label><b>Fecha de inicio:</b></label>
                <input type="datetime-local"   [(ngModel)]="activityForm.startDate"  name="startDate" [value]="activityForm.startDate"/>
              </div>

              <div>
                <label><b>Fecha de finalización:</b></label>
                <input type="datetime-local"  [(ngModel)]="activityForm.endDate" name="endDate" [value]="activityForm.endDate"/>  
              </div>

            </div>

          </div>

          <div class="action-buttons">


            <div class="button">
              <button (click)="hideForm()" [ngStyle]="{'background-color':'#ffffff','color':'#000'}">               
                <span>Cancelar</span>
             </button>
            </div>

            <div class="button" *ngIf="formType==='new'">
              <button (click)="submitForm(contactForm)" >
                <span>Agregar</span>
             </button>
            </div>

            <div class="button" *ngIf="formType==='edit'">
              <button (click)="submitForm(contactForm)" > 
                <span> Guardar Cambios</span>
             </button>
            </div>


       
            
          </div>
          
        </form>

       </div>

      </div>

    </div>
   

  </div>
