
  <div class="list-container" cdkDropListGroup>
    <ng-container   *ngFor="let group of arrayGroupByDates ">

        <div 
            class="column-date"
            cdkDropList
            [cdkDropListData]="group.array"
            (cdkDropListDropped)="moveActivity($event,group.key1)">
    
    
            <div class="date">
              <span><b>{{group.key1===null?'Sin fecha asignada' :formatDate(group.key1)}}</b></span><span> ({{group.array.length}})</span>
            </div>


            <app-activity *ngFor="let activity of group.array " [activity]="activity" (newEvent)="editActivity($event)" ></app-activity>
           
            <span class="nueva" (click)="createActivity(group.key1)" >+ nueva</span>
        </div>

        
    
      </ng-container>
     
      <div class="no-activities" *ngIf="!arrayGroupByDates.length" >
        <span (click)="createActivity(null)"> + Crea una nueva actividad</span> 
      </div>
  </div>

