
/*---------------------------------------activities list----------------------------------------*/
:host{
    width:100% ;
    

    display: flex;
}

/*-------------------------------------------activity--------------------------------------------*/
.list-container{
    display: flex;
    flex-direction: row;
    /*justify-content:center;*/

    overflow: hidden;
    overflow-x: scroll;
    overflow-y: visible;

    width:100% ;
    animation-name:Animated ;
    animation-duration: 2s ;
    animation-timing-function: linear;
}


@keyframes Animated{
      
    0% {
      transform: translate(0%, -4%);
      opacity: 0;
        
    }
   
    100%{
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }
/*-------------------------------------------------------------------------------------------*/
.column-date{

    margin: 1.5%;
}




.date{
    margin-top: 2px;
    margin-bottom: 10px;
    min-width: 16vw;
}

/*---------------------------------------------------------------------------------------*/
.list-container::-webkit-scrollbar {    /*esto es para la parte de atras del scroll*/
    background: none;
    height: 8px;
    width: 8px;
    /*background-color: #1a1a1a;*/
}


.list-container::-webkit-scrollbar-thumb { /*esta es la barra */
    
    background-color: #5173b8;   
    border-radius: 7px;
   
  }






/*---------------------------------------------------------------------------------------*/

.nueva{
color: #bdbdbd;
font-weight: 900;


}
.nueva:hover {
    color: #000;
    cursor: pointer;
}


/*---------------------------------------------------------------------------------------*/
/*
.cdk-drop-list-receiving{
 
}
-*/

/*---------------------------------------------------------------------------------------*/

  @media screen and (max-width: 767px) {
    .column-date{

        margin: 3%;
        
    }
    .date{
      min-width: 45vw;
    }
  }

    @media screen and (max-width: 575px) {
      .date{
        min-width: 60vw;
      }

      .list-container::-webkit-scrollbar {    /*esto es para la parte de atras del scroll*/
       
        height: 23px;
        width: 23px;
        /*background-color: #1a1a1a;*/
    }
    
    
  
  
    }
  
    @media screen and (max-width: 445px) {
      .date{
        min-width: 80vw;
      }
  
  }
  
